.FiltersTab {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0;
  margin-bottom: 20px;
  align-self: flex-start;
}

.Header {
  color: var(--brown);
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 20px;
}

.Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .FiltersTab {
    width: 26.25%;
  }

  .Content {
    display: block;
  }
}
