.TicketData {
  
}

.Title {
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;

}

.Data {
  font-size: 12px;
  line-height: 1.5em;
  color: var(--brown);
}

@media (min-width: 768px) {
  .Data {
    font-size: 14px;
    line-height: 1.5em;
  }
}
